{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        The tech industry is largely male-dominated, with women in STEM facing sexism and feelings of inadequacy. This ongoing
        issue has deep historical roots.
        However, many amazing women are making strides in tech. We've gathered inspiring quotes from influential figures to
        motivate you.
        Whenever you feel pressured, these quotes can remind you that you're not alone and inspire you to keep going!
        </p>

        {% for member in company %}

            <div class="row featurette">
                <div class="col-md-7">
                    <h3>{{member.name}}</h3>
                    <p>
                        {{member.description}}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{member.image_source}}" alt="Tracy Chou" class="featurette-image image-responsive">
                </div>
            </div>

            <hr class="featurette-divider">

        {% endfor %}

{% endblock %}


